* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: #f4f4f4;
  width: 100%;
  margin: auto;
  padding: 0 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style: none;
}
li a {
  text-decoration: none;
  color: #333;
  padding: 10px 15px;
  display: block;
  font-size: 20px;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imaage img {
  height: 40px;
  width: 60px;
  margin-right: 10px;
}
input {
  padding-left: 7px;
  box-shadow: unset 0 2px 2px rgba(114, 114, 114, 0.1);
}

.top h1 {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
  margin-left: 10px;
}
.top .wwe {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 15px;
}
#left .label {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#left .cpc {
  width: 100%;
}
.vsv{
  background-color: #f4f4f4;
  width: 350px;
  height: 60px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vrv{
  width: 100%;
}
.terms{
  width: 350px;
  margin: auto;
}

.terms button {
  margin-top: 40px;
  background-color: rgb(184, 3, 3);
  border: none;
  color: white;
  font-size: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 117px;
}
footer {
  margin-top: 40px;
  color: gray;
  background-color: #f4f4f4;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer h1 {
  padding-left: 5px;
}
.ftt {
  display: flex;
}
.ft {
  margin-right: 15px;
}
.ft ul li {
  list-style: none;
}
.me {
  display: none;
}

select {
  width: 140px;
  height: 50px;
  padding-right: 10px;
}

@media only screen and (max-width: 600px) {
  .terms h1{
    font-size: 12px;
    color: aqua;
  }
  footer {
    display: flex;
    margin-top: 20px; 
    height: auto; 
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 100%;
  }

  .footer h1 {
    padding-left: 0; 
    margin-bottom: 20px;
  }

  .ftt {
    margin-bottom: 20px;
    /* background-color: red; */
    width: 100%;
  } 
 
  .ft ul {
    margin-right: 20px;
  }
  .ft ul li {
    margin-bottom: 10px;
  }
  .ftt .ft  {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  .nnnn{
    display: none;
  }
  select {
    width: 50%;
    height: 40px; 
    margin-bottom: 10px; 
  }
}
